@model Ads.Models.Layout
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>dfd
    <meta charset="UTF-8">
    <title>Toshiba CMS for Shared Board</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/jquery.slides.min.js"></script>
    <script src="~/Scripts/jquery.gridster.min.js"></script>
    <link href="~/Content/jquery.gridster.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/froala_editor.min.css" rel="stylesheet" />
    <link href="~/Content/froala_style.min.css" rel="stylesheet" />
    <script src="~/Scripts/froala_editor.min.js"></script>
    <script src="~/Scripts/plugins/colors.min.js"></script>
    <script src="~/Scripts/plugins/font_family.min.js"></script>
    <script src="~/Scripts/plugins/font_size.min.js"></script>
    <script src="~/Scripts/plugins/block_styles.min.js"></script>

    <script src="~/Scripts/jquery.fitvids.js"></script>
    <script src="~/Scripts/jquery.bxslider.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link id="pageStyle" rel="stylesheet" href="~/Content/fontMenu/editor-1.css?buildtime=1427414384" type="text/css" media="screen,projection">
    <style type="text/css" id="cssstyle">
        @@font-face {
            font-family: 'wicons';
            src: url(Content/fontMenu/wicons.eot?buildTime=1427414384);
            src: url(Content/fontMenu/wicons.eot?buildTime=1427414384#iefix) format('embedded-opentype'), url(Content/fontMenu/wicons.woff?buildTime=1427414384) format('woff'), url(Content/fontMenu/wicons.ttf?buildTime=1427414384) format('truetype'), url(Content/fontMenu/wicons.svg?buildTime=1427414384#wicons) format('svg');
            font-weight: normal;
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
        }

        /*slideshow*/

        /*#slideshow {
            width: 100%;
            height: 300px;
            position: relative;
        }*/

        .slideshow {
            height: 100%;
            display: none;
        }

        .slideshow img {
            position: absolute;
            left: 0;
            width: 100% !important;
            display: none;
        }

        .slideshow img:first-child {
            display: block;
        }

        .slidesjs-container, .slidesjs-control {
            width: 100% !important;
        }

        /* end slideshow */
        li {
            list-style: none;
        }

        .gs-w {
            background: #9E8F8F;
            line-height: 140px;
            text-align: center;
        }

        .gs-w .remove, .remove-span, .hardCode {
            content: '';
            width: 20px;
            height: 20px;
            background: #000;
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            line-height: 20px;
            color: #fff;
            cursor: pointer;
            z-index: 11;
        }

        .hardCode {
            width:50px;
            top:auto;
            bottom: 0 !important;
            left: 0;
            padding:2px;
        }

        .gridster.vertical {
            width: 1080px;
            height: 1920px;
            background: #e3e3e3;
            margin: auto;
            background-image: url(../Content/images/196.png);
            background-size: 100% 100%;
        }

        .gridster.horizontal {
            width: 1920px;
            height: 1080px;
            left: 92px;
            background: #e3e3e3;
            margin: auto;
            background-image: url(../Content/images/169.png);
            background-size: 100% 100%;
        }

       

        

        #nav:hover {
            left: 0;
        }

        #nav:hover:after {
            left: -100px;
            z-index: 99;
            opacity: 0;
        }

        .nav-item:hover {
            background: #6e747a;
            color: #fff;
        }

        .icon.w-icon-page-standard:nth-child(2) {
            margin: -3px 0 0 -34px;
        }

        .message {
            display: none;
            position: fixed;
            top: 20px;
            right: 20px;
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: red;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            z-index: 10000;
        }

        .circle {
            width: 100px;
            height: 100px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            background: #2E54A6;
            display: inline-block;
            text-align: center;
            z-index: 100;
        }

        .circle span:not(.calendar) {
            position: absolute;
            top: 50%;
            height: 100%;
            width: 100%;
            left: 0px;
            margin-top: -25%;
        }

        .circle .calendar {
            top:50%;
            left:40%;
        }

        .popup-circle, .popup-block, .popup-text {
            min-width: 10px;
            min-height: 10px;
            padding: 5px;
            background: #f00;
            position: absolute;
            top: 0;
            left: 100%;
            display: none;
            line-height: 30px;
            text-align: left;
            color: #fff !important;
            border: 2px solid #b8b8b8;
        }

        .img img, .imagedrag img {
            max-width: 100%;
        }

        .imagedrag a {
            display:block;
        } 
        
        .popup-img-slideshow, .popup-slideshow-fullscreen {
            color: #fff;
            position: fixed;
            right: 0;
            top: 20px;
            width: 200px;
            background: red;
            border: 5px solid #4B5155;
            z-index: 100;
            padding: 5px;
        }


        .popup-img-slideshow img {
            max-width: 100%;
        }

        .popup-slideshow-fullscreen {
            width: 75%;
            overflow: scroll;
            height: 70%;
        }

        .slideshow-fullscreen-temp {
            overflow:hidden;
        }

        .slideshow-fullscreen-temp img, .slideshow-fullscreen-temp video {
            position: absolute;
            width: 100%;
        }
        
        .slideshow-fullscreen-temp li {
            position: relative;
            width: 150px;
            float: left;
            border: 2px solid #ff0;
            background: #ff0;
            height: 262px;
            margin: 2px 0 0 2px;
        }

        .slideshow-fullscreen-temp li .fa {
            color: #DE96ED;
        }
            
        .block {
            width: 100%;
            height: 100%;
            background: #000;
        }

        .text {
            z-index: 120;
            min-width: 200px;
        }

        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .5;
            z-index: 111;
            display: none;
        }

        #boxPageList {
            width: 600px;
            height: 400px;
            position: absolute;
            top: 30%;
            left: 50%;
            margin-left: -300px;
            margin-top: -200px;
            background: #fff;
            text-align: center;
            z-index: 1111;
            display: none;
            padding-top: 30px;
            border: 6px solid #B89393;
            border-radius: 5px;
            overflow:hidden;
        }

        .close {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            background: #000;
            color: #fff;
            line-height: 30px;
            text-align: center;
            display: block;
            cursor: pointer;
        }

        #boxPageList li {
            width: 80px;
            height: 100px;
            background: #f00;
            margin: 3px;
            float: left;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
            padding: 5px;
            -moz-transition: all .4s;
            -o-transition: all .4s;
            -webkit-transition: all .4s;
            transition: all .4s;
        }

            #boxPageList li:hover {
                background: #820000;
            }

        #boxPageList h3 {
            border-bottom: 1px solid #f00;
            margin-bottom: 10px;
            padding-bottom: 5px;
        }

        #if {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .tab {
            width: 170px;
            height: 20px;
            display: inline-block;
            padding: 11px;
            outline: none;
            border: none !important;
            cursor: pointer;
            color: #fff;
            font-family: 'myriadpro-semicn-webfont',Arial,serif;
            font-size: 12px;
            background: #000 !important;
        }

        .tab-active {
            /*background: url(/Files/Images/tab_bg.png) !important;*/
            opacity: .6;
        }

        .template {
            width: 35px;
            height: 35px;
            background: url(../Content/images/rotate.png);
            position: fixed;
            top: 5px;
            left: 5px;
            cursor: pointer;
            background-size: 100% 100%;
        }

        .cancelTab {
            position: fixed;
            top: 240px;
            left: 0px;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            background: #000;
            cursor: pointer;
            color: #fff;
            padding: 5px;
        }

        button.AddImage, .AddVideo, .AddPage {
            border: none;
            padding: 5px;
            background: #fff;
            cursor: pointer;
            outline: none;
            display: block;
            margin-top: 5px;
        }

        button.AddImage:hover, .AddVideo:hover, .AddPage:hover {
            background: #4b5155;
            color: #fff;
        }

        .draggable {
            position: absolute;
        }

        .editor-panel {
            position: fixed;
            width: 100%;
            height: 45%;
            background: #363b3e;
            bottom: -100%;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
            z-index: 1111;
            padding: 2%;
        }

        .up {
            bottom: 0 !important;
        }

        .webview {
            cursor: pointer;
        }

            .webview:hover div, .bxslider:hover iframe {
                display: none;
            }

        .linkTransparent {
            width: 200px;
            height: 50px;
            border: none;
            z-index: 1000;
            background: transparent;
        }

        .froala-wrapper + div {
            text-indent: -99999px;
            border: none !important;
        }

        .button-3d {
            position: relative;
            color: rgba(255,255,255,1);
            background-color: rgba(219,87,5,1);
            font-family: 'Yanone Kaffeesatz';
            font-weight: 700;
            cursor: pointer;
            padding: 4px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: 0px 5px 0px rgba(145, 60, 48, 1), 0px 9px 25px rgba(0,0,0,.7);
            -moz-box-shadow: 0px 5px 0px rgba(145, 60, 48, 1), 0px 9px 25px rgba(0,0,0,.7);
            box-shadow: 0px 5px 0px rgba(145, 60, 48, 1), 0px 9px 25px rgba(0,0,0,.7);
            width: 160px;
            text-align: center;
            -webkit-transition: all .1s ease;
            -moz-transition: all .1s ease;
            -ms-transition: all .1s ease;
            -o-transition: all .1s ease;
            transition: all .1s ease;
        }

            .button-3d:hover {
                color: #ff0;
            }

        /*STYLE PRODUCT*/
        .product-item {
            width: 200px;
            height: 250px;
            color: #fff;
            background: brown;
            margin: 10px;
            float: left;
        }

            .product-item:hover {
                background: #000;
            }

        .products {
            overflow: hidden;
        }
        /* END STYLE PRODUCT*/

        /* STYLE SCHEDULE */
        .calendar {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 20px;
            height: 20px;
            /*background: #333;*/
            cursor: pointer;
            color: #fff;
            font-size: 20px;
        }

        #boxPageList label {
            width: 100px;
            display: inline-block;
        }

        .startDate, .endDate {
            width: 150px;
        }

        .mtop10 {
            margin-top: 10px;
        }

        .mright10 {
            margin-right: 10px;
        }

        table#list-schedule {
            width: 100%;
            border-collapse: collapse;
        }

            table#list-schedule th, td {
                border: 1px solid #e3e3e3;
                padding: 5px;
            }

        #list-schedule tr:nth-child(1n+2):hover {
            background: red;
            color: #fff;
        }

        .action-btn {
            border: none;
            background: #4b5155;
            color: #fff;
            padding: 5px;
            margin: 10px;
            box-shadow: 0px 0px 2px 5px #DABDBD;
            cursor: pointer;
            outline: none;
        }

        #clearSchedule {
            float: left;
        }

        #list-schedule tr:nth-child(1) {
            background: #4b5155;
            color: #fff;
        }

        .fa {
            cursor: pointer;
        }
        /* END STYLE SCHEDULE */

        /* STYLE FOR SLIDESHOW FULLSCREEN*/
        .bxslider {
            width:100%;
            height:100%;
        }

        .bx-controls {
            display: none;
        }

        .bxslider li {
            position:absolute;
            width:100%;
        }

        .bxslider li img, .bxslider li video {
            width:100%;
        }

        .bx-viewport {
            height: 100% !important;
        }

        .removeSlidePartner {
            position:absolute;
            right:0 !important;
        }

        .removeSlide {
            position:absolute;
            right:10px !important;
        }

        li.page iframe {
            border: none;
        }

        .bxslider li.page, .bxslider li.page iframe {
            height: 100%;
            width: 100%;
            border: none;
        }
        
        /*#items ::-webkit-media-controls {
            display: none !important;
        }*/
        /* END SLIDESHOW FULLSCREEN*/

        /* STYLE FOR IMAGEDRAG */
        .imagedrag {
            width: 100px;
            height: 50px;
            background: #9E8F8F;
            display: inline-block;
            text-align: center;
            z-index: 100;
        }
        /* END STYLE FOR IMAGEDRAG */

        .webdrag {
            width: 100px;
            height: 50px;
            background: #9E8F8F;
        } 
        
        .text-btn, .image-btn {
            float: left;
            background-color: #4b5155;
            height: 30px;
            line-height: 30px;
            color: #fff;
            padding: 0 5px;
            margin-top: -30px;
            cursor: pointer;
        }

        .image-btn {
            margin-left:80px;
        }

        .edit.froala-box {
            padding-top: 20px;
        }
	
	.slidesjs-container {
	    overflow: visible !important;
	}
    </style>
    <script type="text/javascript">

        function BrowseServer(startupPath, functionData) {
            // You can use the "CKFinder" class to render CKFinder in a page:
            var finder = new CKFinder();

            // The path for the installation of CKFinder (default = "/ckfinder/").
            finder.basePath = '../';

            //Startup path in a form: "Type:/path/to/directory/"
            finder.startupPath = startupPath;

            // Name of a function which is called when a file is selected in CKFinder.
            finder.selectActionFunction = SetFileField;

            // Additional data to be passed to the selectActionFunction in a second argument.
            // We'll use this feature to pass the Id of a field that will be updated.
            finder.selectActionData = functionData;

            // Name of a function which is called when a thumbnail is selected in CKFinder.
            finder.selectThumbnailActionFunction = ShowThumbnails;

            // Launch CKFinder
            finder.popup();
        }

        // This is a sample function which is called when a file is selected in CKFinder.
        function SetFileField(fileUrl, data) {
            console.log(data);

            if ($('#changeImgSlideshowTemp').length > 0) {
                $('#changeImgSlideshowTemp img').attr('src', fileUrl);

                if ($('.changeImgSlideshow .slidesjs-control').lenth >0) {
                    $('.changeImgSlideshow .slidesjs-control img').eq($('#changeImgSlideshowTemp').index()).attr('src',fileUrl);
                } else {
                    $('.changeImgSlideshow img').eq($('#changeImgSlideshowTemp').index()).attr('src', fileUrl);
                }

                $('#changeImgSlideshowTemp').removeAttr('id');
            }
            else if ($('.popup-img-slideshow').length > 0) {
                if (!$(".changeImgSlideshow").parent().hasClass('toshiba') || !$('#partner').length) {
                    if ($('.changeImgSlideshow .slidesjs-control').length) {
                        $('.changeImgSlideshow .slidesjs-control').append('<img src="' + fileUrl + '">');
                    } else {
                        $('.changeImgSlideshow').prepend('<img src="' + fileUrl + '">');
                    }
                    $('.popup-img-slideshow .slideshow-temp').append('<li><img src="' + fileUrl + '"></li>');
                }
            } else if ($('.popup-slideshow-fullscreen').length) {
                @if (User.Identity.Name == "admin" || !Convert.ToBoolean(ViewBag.isPartner))
                {
                    @Html.Partial("_AddAndChangeItemToSlideshowFullscreen");
                }
                
                @if (Convert.ToBoolean(ViewBag.isPartner))
                {
                    @Html.Partial("_ChangeItemSlideshowFullscreen")
                }
                
            }
            else if ($('.changeVideo').length > 0) {
                if (!$('.changeVideo').parent().hasClass('toshiba') || !$('#partner').length) {
                    $('.changeVideo').attr('src', fileUrl + '?t=0').removeClass('changeVideo');
                }
            } else if($('.change').length >0){
                $('.change').each(function () {
                    this.style.setProperty('background', 'url(' + fileUrl + ')', 'important');
                    this.style.setProperty('background-size', 'cover', 'important');
                });
            }
            else if($('#contentPopup').length){
                $('#contentPopup').append($('<span class="draggable"><img src="' + fileUrl + '" style="max-width:100%"></span>'));
                
                $("#contentPopup .draggable").resizable().draggable();
                //$('#contentPopup .ui-wrapper').draggable().width('auto').height('auto');
                
                $('#contentPopup .draggable:last-child').height('auto').width('200px');
            }
            else
            {
                if (!$('.change-img').parent().hasClass('toshiba') || !$('#partner').length) {
                    $('.change-img').attr('src', fileUrl).removeClass('change-img');
                }
            }
            document.getElementById(data["selectActionData"]).value = fileUrl;
        }

        // This is a sample function which is called when a thumbnail is selected in CKFinder.
        function ShowThumbnails(fileUrl, data) {
            // this = CKFinderAPI
            var sFileName = this.getSelectedFile().name;
            document.getElementById('thumbnails').innerHTML +=
                    '<div class="thumb">' +
                        '<img src="' + fileUrl + '" />' +
                        '<div class="caption">' +
                            '<a href="' + data["fileUrl"] + '" target="_blank">' + sFileName + '</a> (' + data["fileSize"] + 'KB)' +
                        '</div>' +
                    '</div>';

            document.getElementById('preview').style.display = "";
            // It is not required to return any value.
            // When false is returned, CKFinder will not close automatically.
            return false;
        }
    </script>
</head>
<body>
    <div class="gridster">
        <section id="items">
            @Html.Raw(@Model.Items)
        </section>
    </div>

    @Html.Action("Nav", "Home")

    <i class="zoomIn">+</i>
    <i class="zoomOut">-</i>

    <input type="color" class="background" title="chọn background"/>
    <label class="isNewVersion"><input type="checkbox" /> New <br />version</label>

    <script type="text/javascript" id="scriptaction">
        var gridster;
        var CurrentTab = "";
        $(function () {
            // SET TEMPLATE
            if ($('.template').length == 0) {
                $('#items').append('<i class="template" data-template="vertical"></i>');
                $('.gridster').addClass('vertical');
            } else {
                $('.gridster').addClass($('#items i.template').attr('data-template'));
            }
            // SET TEMPLATE

            if($('i.template').attr('data-template') == 'vertical'){
                gridster = $(".gridster > section").gridster({
                    widget_margins: [0, 0],
                    widget_base_dimensions: [120, 10],
                    min_cols: 9,
                    widget_selector: 'div',
                    resize: {
                        enabled: true,
                    }
                }).data('gridster');
                localStorage.setItem('template', 'vertical');
            }
            else{
                gridster = $(".gridster > section").gridster({
                    widget_margins: [0, 0],
                    widget_base_dimensions: [120, 10],
                    min_cols: 16,
                    widget_selector: 'div',
                    resize: {
                        enabled: true
                    }
                }).data('gridster');
                localStorage.setItem('template', 'horizontal');
            }
            //onclick = "BrowseServer( 'Images:/', 'xImagePath' );"

            //// SET TEMPLATE
            //if (!$('#items i.template').length) {
            //    $('#items').append('<i class="template" data-template="vertical"></i>');
            //    $('.gridster').addClass('vertical');
            //} else {
            //    $('.gridster').addClass($('#items i.template').attr('data-template'));
            //}
            //// SET TEMPLATE

            if ($('.tab-active').length) {
                CurrentTab = $('.tab-active').attr('data-content');
            }

            // ADD IMAGE
            $('#image').click(function () {
                if (CurrentTab == "") {
                    gridster.add_widget('<div class="new img addNew" ondblclick="BrowseServer(' + "'images:/','XImagePath'" + ')"><img src=""></div>', 1, 1);
                } else {
                    gridster.add_widget('<div class="new img addNew tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + ' ondblclick="BrowseServer(' + "'images:/','XImagePath'" + ')"><img src=""></div>', 1, 1);
                }
                $('.addNew').css('min-height', '50px').removeClass('addNew');
            })

            $(document).on('dblclick', '.img, .imagedrag', function () {
                $('img').removeClass('change-img');
                $(this).children('img').addClass('change-img');
            });
            // END ADD IMAGE

            // ADD IMAGE DRAG
            $('#imagedrag').click(function () {
                if (CurrentTab == "") {
                    $('#items').append('<span class="draggable imagedrag ui-widget-content" ondblclick="BrowseServer(' + "'images:/','XImagePath'" + ')"><img src=""></span>');
                    // Draggable
                } else {
                    $('#items').append('<span class="draggable imagedrag ui-widget-content tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + ' ondblclick="BrowseServer(' + "'images:/','XImagePath'" + ')"><img src=""></span>');
                    // Draggable
                }
                $(".draggable").draggable().resizable();
            });
            // END ADD IMAGE DRAG

            $('#video').click(function () {
                if (CurrentTab == "") {
                    gridster.add_widget('<div class="new addNew"><video src=""  type="video/mp4" width="100%" height="100%" controls class="video" ondblclick="BrowseServer(' + "'Videos:/','XImagePath'" + ')"></video></div>', 1, 1);
                } else {
                    gridster.add_widget('<div class="new addNew tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '><video src=""  type="video/mp4" width="100%" height="100%" controls class="video" ondblclick="BrowseServer(' + "'Videos:/','XImagePath'" + ')"></video></div>', 1, 1);
                }
                $('.addNew').css('min-height', '100px').removeClass('addNew');
            })

            $('#videodrag').click(function () {
                if (CurrentTab == "") {
                    $('#items').append('<span class="imagedrag draggable"><video src=""  type="video/mp4" width="100%" height="100%" controls class="video" ondblclick="BrowseServer(' + "'Videos:/','XImagePath'" + ')"></video></span>');
                } else {
                    $('#items').append('<span class="imagedrag draggable tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '><video src=""  type="video/mp4" width="100%" height="100%" controls class="video" ondblclick="BrowseServer(' + "'Videos:/','XImagePath'" + ')"></video></span>');
                }
                $('.draggable').draggable().resizable();
            })

            $('#callApp-btn').click(function () {
                var value = prompt("Vui lòng nhập schema và package name của App", "scheme=zxing;package=com.google.zxing.client.android");
                if (value) {
                    if ($('.imagedrag.linkTo').length) {
                        $('.imagedrag.linkTo img').wrap('<a>').parent().attr('href',"intent://scan/#Intent;" + value + ";end");
                    }
                    
                }
            });

            $('#slideshow-btn').click(function () {
                if (CurrentTab == "") {
                    var slide = '<div class="slideshow">';
                    slide += '</div>';
                    gridster.add_widget('<div class="new">' + slide + '</div>', 1, 1);
                    runSlideShow();
                } else {
                    var slide = '<div class="slideshow">';
                    slide += '</div>';
                    gridster.add_widget('<div class="new tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '>' + slide + '</div>', 1, 1);
                    runSlideShow();
                }
            });

            $('#slideshowdrag').click(function () {
                if (CurrentTab == "") {
                    var slide = '<div class="slideshow">';
                    slide += '</div>';
                    $('#items').append('<span class="draggable imagedrag">' + slide + '</span>');
                    runSlideShow();
                } else {
                    var slide = '<div class="slideshow">';
                    slide += '</div>';
                    $('#items').append('<span class="draggable imagedrag tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '>' + slide + '</span>');
                    runSlideShow();
                }
                $('.draggable').draggable().resizable();
            });

            $('#circle').click(function () {
                if (CurrentTab == "") {
                    $('#items').append('<span class="draggable circle ui-widget-content"></span>');
                    // Draggable
                } else {
                    $('#items').append('<span class="draggable circle ui-widget-content tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '></span>');
                    // Draggable
                }
                $(".draggable").draggable().resizable();
            });

            // Xử lý màu chữ
            $(document).on('click', '.circle', function () {
                $('.circle').removeClass('changeColor, changeBgColor');
                $(this).addClass('changeColor changeBgColor');

                $('#color').change(function () {
                    $('.changeColor').css('color', $(this).val());
                });

                $('#bgcolor').change(function () {
                    $('.changeBgColor').css('background', $(this).val());
                });

                $(document).mouseup(function (e) {
                    var container = $(".changeColor");

                    if (!container.is(e.target)
                        && container.has(e.target).length === 0) {
                        if (!$('#color, #bgcolor').is(e.target) && $('#color, #bgcolor').has(e.target).length === 0) {
                            $('.circle').removeClass('changeColor changeBgColor');
                        }
                    }
                });
            });

            // Double click để custom Text, font-size, color, background
            $(document).on('dblclick', '.circle', function () {
                $('.block').removeClass('changeBgColor');
                // pupup
                if ($(this).children('.popup-circle').length < 1) {
                    var text = $(this).text();
                    var fontSize = $(this).find('span').css('font-size');
                    var popup = '<div class="popup-circle">';
                    popup += '<p>Background: <input type="color" id="bgcolor" />';
                    popup += '<p class="remove-circle"><button>Remove</button></p>';
                    popup += '</div>';
                    $(this).append(popup).find('.popup-circle').fadeIn();
                }

            });

            // Remove Circle
            $(document).on('click', '.remove-circle', function () {
                $(this).parent().parent().remove();
                if ($(this).parent().parent().hasClass('tab-content') && $('.tab-content').length == 0) {
                    $('.tab-active').attr('data-child', 0);
                }
            });

            // Add Block
            $('#block').click(function () {
                var block = '<div class="block"></div>';
                if (CurrentTab == "") {
                    gridster.add_widget('<div class="new">' + block + '</div>', 1, 1);
                } else {
                    gridster.add_widget('<div class="new tab-content content-' + CurrentTab + '"  data-parent=' + CurrentTab + '>' + block + '</div>', 1, 1);
                }

            });

            // Double click để custom background cho Block
            $(document).on('dblclick', '.block', function () {
                $('.block').removeClass('changeBgColor');
                $(this).addClass('changeBgColor');
                // pupup
                if ($(this).children('.popup-block').length < 1) {
                    var text = $(this).text();
                    var fontSize = $(this).find('span').css('font-size');
                    var popup = '<div class="popup-block">';
                    popup += '<p>Background: <input type="color" id="bgcolor" />';
                    popup += '</div>';
                    $(this).append(popup).find('.popup-block').fadeIn();
                }

                $('#bgcolor').change(function () {
                    $('.changeBgColor').css('background', $(this).val());
                });

            });

            $('#text-btn').click(function () {
                if (CurrentTab == "") {
                    $('#items').append('<span class="draggable text ui-widget-content" style="background:none;border:none;font-size:20px;color:#775D5D">Text here</span>');
                } else {
                    $('#items').append('<span class="draggable text ui-widget-content tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + ' style="background:none;border:none;font-size:20px;color:#775D5D">Text here</span>');
                }
                // Draggable
                $(".draggable").draggable().resizable();
            });

            $(document).on('click', '.text', function () {
                $(this).css('border', '1px solid rgb(140, 93, 93)');
            });

            // Double click để custom Text, font-size, color text
            $(document).on('dblclick', '.text', function () {
                $('span').removeClass('change');
                $(this).addClass('change').resizable('destroy');

                $('.editor-panel').remove();
                var htmlOfText = $('.change').clone();

                $('body').append('<span class="editor-panel"><div><span class="button-3d" onclick="BrowseServer(' + "'images:/','XImagePath'" + ')">Choose background</span></div><div class="edit">' + $(htmlOfText).html() + '</div></span>');
                setTimeout(function () {
                    $('.editor-panel').addClass('up');
                    $('.edit').editable();

                    $(".edit").on('editable.contentChanged', function (e, editor) {
                        $('.change').empty().append($('.froala-view').html());
                        $('.change').resizable();
                    });
                }, 1);
            });

            $(document).mouseup(function (e) {
                if (!$('.popup-circle,.popup-img-slideshow, #boxPageList, #overlay, .popup-slideshow-fullscreen, .popup-block, .popup-text, .editor-panel').is(e.target) && $('.popup-circle,.popup-img-slideshow,#boxPageList, #overlay, .popup-slideshow-fullscreen, .popup-block, .popup-text, .editor-panel').has(e.target).length === 0) {
                    $('.popup-circle,.popup-img-slideshow, .popup-slideshow-fullscreen, .popup-block,.popup-text').remove();
                    $('.text').css('border', 'none');
                    $('.editor-panel').removeClass('up');
                    $('.change').removeClass('change').resizable();
                }
            });

            $(document).on('keyup', '#text', function () {
                //$('.changeColor').text($(this).val());
                $('.changeColor span').text($(this).val());
                if ($(this).parent().parent().siblings('h1').length > 0) {
                    $(this).parent().parent().siblings('h1').text($(this).val());
                }
            });

            $(document).on('change', '#font-size', function () {
                $('.changeColor span').css('font-size', $(this).val() + 'px');
                if ($(this).parent().parent().siblings('h1').length > 0) {
                    $(this).parent().parent().siblings('h1').css('font-size', $(this).val() + 'px');
                }
            });

            // hover show remove button
            $(document).on('mouseenter', '.gs-w', function () {
                $(this).append('<span class="remove">X</span>');
                // remove item
                $('.remove').click(function () {
                    var remove_btn = $(this);
                    //gridster.remove_widget($('.gridster li').eq($(this).parent().index()));
                    //gridster.remove_widget($('.gridster li:eq(' + ($(this).parent().index() - $(this).parent().prevAll('.circle').length - $(this).parent().prevAll('.text').length) + ')'));
                    gridster.remove_widget($(this).parent(), function () {
                        if ($(remove_btn).parent().hasClass('tab-content') && $('.tab-content').length == 0) {
                            $('.tab-active').attr('data-child', 0);
                        }
                    });

                });
            }).on('mouseleave', '.gs-w', function () {
                $('.remove').remove();
            });

            $(document).on('mouseenter', '.draggable', function () {
                if ($(this).is('.circle')) {return};
                $(this).append('<span class="remove-span">X</span>');
                // remove item
                $('.remove-span').click(function () {
                    $(this).parent().remove();
                    $('.content-' + $(this).parent().attr('data-content')).remove();
                    if (!$('.tab').length) {
                        CurrentTab = "";
                        $('.cancelTab').remove();
                    }
                    return false;
                });
            }).on('mouseleave', '.draggable', function () {
                $('.remove-span').remove();
            });

            $(document).on('dblclick', '.slideshow', function () {
                $('div').removeClass('changeImgSlideshow');
                $(this).addClass('changeImgSlideshow');
                var imgList = '<span class="popup-img-slideshow">';
                imgList += '<h2>Hình ảnh slide</h2>'
                imgList += '<ul class="slideshow-temp">';
                $(this).find('img').each(function () {
                    imgList += '<li><img src="' + $(this).attr('src') + '"></li>';
                });
                imgList += '</ul>';
                imgList += '<button class="AddImage" onclick="BrowseServer(' + "'Images:/','XImagePath'" + ')">Thêm hình ảnh</button>';
                imgList += '</span>';
                $('body').append(imgList);
                $('.slideshow-temp li').has('img').attr('ondblclick', "BrowseServer('Images:/','XImagePath')");
            });

            $(document).on('dblclick', '.video', function () {
                $(this).addClass('changeVideo');
            });

            $('#save').click(function () {
                $('.template').appendTo('#items');
                $('.slideshow').each(function () {
                    if ($(this).find('.slidesjs-control').length) {
                        var itemImg = $(this).find('.slidesjs-control').clone();
                        $(this).empty();
                        $(this).append($(itemImg).find('img').removeAttr('class slidesjs-index style').parent().html());
                    }
                });

                $('.popup-circle').remove();
                var html = $('html').clone();
                //$('html #nav').remove();
                $(html).find('#nav,.ui-resizable-handle, .gs-resize-handle, .zoomIn, .zoomOut, #partnerProcess,#runSlideshowFullscreen, #onlyDesign, .hardCode,.cancelTab,.background,.isNewVersion,#sortableScript').remove();
                $(html).find('#cssstyle').append('.remove, .remove-span, .calendar, .hardCode {display:none;} .gridster.horizontal {left:0} .gs-resize-handle {display:none;background-image: none;}.webview:hover div,.bxslider:hover iframe {display:block !important;}.linkTransparent {border:none !important}.gridster {zoom:1 !important;}.gs-w{background:transparent !important}.imagedrag{background:none}.ui-widget-content{border:none;}body{background:#000}video{pointer-events:none}.slidesjs-navigation{display:none !important}');
                $(html).find('#scriptaction').append('$(function(){gridster.disable();$(".draggable").draggable("disable").resizable("disable");$(".tab").click(function(){$(".draggable").draggable("disable")});$(".text").on("dblclick",function(){return false});});');
                $(html).find('.gridster').css({ 'background-image': 'none', 'background': localStorage.getItem('background') });

                var items = $('#items').clone();
                var PageId = @Html.Raw(Json.Encode(Model.Id))
                $(items).find('.ui-resizable-handle, .gs-resize-handle, .hardCode').remove();
                var Layout = {
                    Id: PageId,
                    LayoutHTML: html.html(),
                    Items: items.html(),
                    PageTitle: 'Trang chủ',
                    UserCode: '@(ViewBag.UserCode)'
                };
                $.ajax({
                    url: '/api/Layout',
                    data: Layout,
                    async: false,
                    type: 'put',
                    success: function (data) {
                        $('body').append('<span class="message">OK</span>').find('.message').fadeIn('1000').delay(1000).fadeOut(function () { $(this).remove() });
                    }
                });

                $.ajax({
                    url: '/Account/isNewVersion?NewVersion=' + $('.isNewVersion input').is(':checked'),
                    success: function (res) {
                        console.log('ok');
                    }
                });

                runSlideShow();
                TabProcess();
                $('.template').appendTo('body');
            });

            // Xử lý add Link

            $(document).on('click', function (e) {
                var container = $(".new, .draggable, #addLink, #overlay,#boxPageList");

                if (!container.is(e.target)
                    && container.has(e.target).length === 0) {
                    $('#addLink,#addPopup,#callApp-btn').hide();
                } else {
                    $('#addLink,#addPopup,#callApp-btn').show();
                }
            });

            $(document).on('click', '#items .new, #items .draggable', function () {
                $('.new, .draggable').removeClass('linkTo');
                $(this).addClass('linkTo');
            });

            $('#addLink').click(function () {
                var PageList = '<div id="overlay"></div>';
                PageList += '<div id="boxPageList"><button style="float:left;outline:none;padding:3px;background:red; color:#fff;margin-left:5px;" onclick="outlink()">Liên kết ngoài</button><h3>Danh sách trang</h3><span class="close">x</span></div>';
                $('body').append(PageList);
                $('#overlay,#boxPageList').fadeIn();

                $.ajax({
                    url: '/api/Layout',
                    data: {UserCode: '@ViewBag.UserCode'},
                    type: 'get',
                    success: function (data) {
                        var listpage = '<ul>';
                        $.each(data, function (k, v) {
                            if (k == 0) {
                                listpage += '<li data-page="index.html">' + v.PageTitle + '</li>';
                            } else {
                                listpage += '<li data-page="page' + v.Id + '.html">' + v.PageTitle + '</li>';
                            }
                        });
                        listpage += '</ul>';
                        $('#boxPageList').append(listpage);
                    }
                });
            });

            $(document).on('click', '.close', function () {
                $('#overlay, #boxPageList').fadeOut('slow', function () {
                    $('#overlay, #boxPageList').remove();
                });
            });

            $(document).on('click', '#boxPageList li', function () {
                if (!$('.bxslider').length) {
                    $('.linkTo').attr('onclick', 'linkPage("' + $(this).data('page') + '")');
                }
            });

            //END Xử lý add link

            // add popup
            @Html.Partial("_AddPopup")
            // end add popup

            // Add Tab

            $('#tab-btn').click(function () {
                var TabCount = $('.tab').length + 1;
                $('#items').append('<span class="draggable text ui-widget-content tab tab-' + TabCount + '" data-content="tab-' + TabCount + '" style="background:none;border:none;"><h1>Text here</h1></span>');
                // Draggable
                $(".draggable").draggable().resizable();

                $(document).click(function (e) {
                    if (!$('.tab,.nav-item,.remove').is(e.target) && $('.tab,.nav-item,.remove').has(e.target).length === 0) {
                        //CurrentTab = "";
                    }
                });
            });

            $(document).on('click', '.tab', function () {
                if (!$(this).hasClass('tab-active')) {
                    $('.tab').removeClass('tab-active');
                    $(this).addClass('tab-active');
                    //TabProcess();
                    CurrentTab = $(this).data('content');
                    $('.tab-content').hide();
                    $('.content-' + $('.' + CurrentTab).attr('data-content')).show();

                    $('#video-active').removeAttr('id');
                    $('.content-' + $('.' + CurrentTab).attr('data-content') + ' video').attr('id', 'video-active');

                    try {
                        var vid = document.getElementById("video-active");
                        vid.currentTime = 0;
                        vid.play();
                        document.getElementById('video-active').addEventListener('ended', restartVideoId, false);
                    } catch (e) {

                    }
                    
                }

                //new code play video tab

                //new code play video tab
            });

            function TabProcess() {
                if (CurrentTab != "") {
                    var stt = 0;
                    var TabContent = '.content-' + $('.' + CurrentTab).attr('data-content');
                    // Remove data atrribute
                    for (i = 0; i < $('.' + $(TabContent).attr('data-parent')).attr('data-child') ; i++) {
                        $('.' + $(TabContent).attr('data-parent')).removeAttr('data-contenthtml' + i).removeAttr('data-contentpos' + i).removeAttr('data-contenttype' + i);
                    }
                    // END Remove data atrribute

                    // slideshow process
                    $('.slideshow').each(function () {
                        if ($(this).find('.slidesjs-control').length) {
                            var itemImg = $(this).find('.slidesjs-control').clone();
                            $(this).empty();
                            $(this).append($(itemImg).find('img').removeAttr('class slidesjs-index style').parent().html());
                        }
                    });
                    // end slideshow process

                    $(TabContent).each(function () {
                        var span = $(this);
                        if (!$(this).is('.text, .circle, .linkTransparent')) {
                            $('html').find('.gs-resize-handle, .ui-resizable-handle').remove();
                            $('.' + $(this).attr('data-parent')).attr('data-contenthtml' + stt, $(this).wrap('<span class="wrap">').parent().html());
                            $('.' + $(this).attr('data-parent')).attr('data-contentpos' + stt, $(this).data('col') + ',' + $(this).data('row') + ',' + $(this).data('sizex') + ',' + $(this).data('sizey'));
                        } else {
                            $(items).find('.ui-resizable-handle, .gs-resize-handle').remove();
                            $('.' + $(this).attr('data-parent')).attr('data-contenthtml' + stt, $(this).wrap('<span class="wrap">').parent().html());
                            $('.' + $(this).attr('data-parent')).attr('data-contenttype' + stt, 'span');
                        }
                        stt += 1;
                        $('.' + $(this).attr('data-parent')).attr('data-child', stt);
                    });

                    //gridster.remove_all_widgets();
                    if ($('.tab-content').length > 0) {
                        $('.tab-content').each(function () {
                            if (!$(this).is('.text, .circle, .linkTransparent')) {
                                gridster.remove_widget($(this));
                            } else {
                                $(this).remove();
                            }
                        });
                    }

                    $('.tab-content').hide();
                    $('.wrap, .tab-content').remove();

                    if ($('.tab-active').attr('data-child') > 0) {
                        for (var i = 0; i < $('.tab-active').attr('data-child') ; i++) {
                            if ($('.tab-active').attr('data-contenttype' + i) != 'span') {
                                var contentpos = $('.tab-active').attr('data-contentpos' + i).split(",");
                                var sizex = contentpos[2];
                                var sizey = contentpos[3];
                                var col = contentpos[0];
                                var row = contentpos[1];

                                var executeAddItem = "gridster.add_widget($('.tab-active').attr('data-contenthtml" + i + "'), " + sizex + ", " + sizey + ", " + col + ", " + row + ");";
                                eval(executeAddItem);
                            } else {
                                $('#items').append($('.tab-active').attr('data-contenthtml' + i));
                                $(".draggable").draggable().resizable();
                                $('.text').show();
                            }

                        }
                        //$('.tab-content').css('opacity', 1);
                    } else {
                        $('.tab-active').removeAttr('data-contenthtml0').removeAttr('data-contentpos0').removeAttr('data-contenttype0');
                    }

                    $('.gs-w').not('.content-tab').append('<span class="gs-resize-handle gs-resize-handle-both"></span>');
                    runSlideShow();
                }
            }

            $(document).click(function (e) {
                var container = $(".tab-content");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    //TabProcess();
                }

                if (!$('.tab,.nav-item,.remove').is(e.target) && $('.tab,.nav-item,.remove').has(e.target).length === 0) {
                    //CurrentTab = "";
                }
            });

            // END Add Tab

            // Add Webview
            $('#web-btn').click(function () {
                if (CurrentTab == "") {
                    gridster.add_widget('<div class="new webview addNew"><div style="position:absolute;width:100%;height:100%"><iframe style="width:100%;height:100%;position:absolute;left:0"></iframe></div></div>', 1, 1);
                } else {
                    gridster.add_widget('<div class="new webview addNew tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '><div style="position:absolute;width:100%;height:100%"><iframe style="width:100%;height:100%;position:absolute;left:0"></iframe></div></div>', 1, 1);
                }
                $('.addNew').css('min-height', '50px').removeClass('addNew');
            })

            // ADD WEBVIEW DRAG
            $('#webdrag').click(function () {
                if (CurrentTab == "") {
                    $('#items').append('<span class="draggable webview webdrag"><div style="position:absolute;width:100%;height:100%"><iframe style="width:100%;height:100%;position:absolute;left:0"></iframe></div></span>');
                } else {
                    $('#items').append('<span class="draggable webview webdrag tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '><div style="position:absolute;width:100%;height:100%"><iframe style="width:100%;height:100%;position:absolute;left:0"></iframe></div></span>');
                }
                $(".draggable").draggable().resizable();
            });
            // END ADD WEBVIEW DRAG

            $(document).on('dblclick', '.webview', function () {
                $('.webview').removeClass('changeWebAddress');
                $(this).addClass('changeWebAddress');
                var curentAddress = $('.changeWebAddress iframe').attr('src');
                if (curentAddress == null || curentAddress == "") {
                    curentAddress = "http://";
                }
                var newAddress = prompt("Vui lòng nhập địa chỉ website!\nP/S: nhúng video trên YOUTUBE \nví dụ: https://www.youtube.com/watch?v=EJG0NtGP1bM", curentAddress);
                if (newAddress != "http://" && newAddress != "" && newAddress != null) {
                    if (newAddress.indexOf('youtube.com/watch') == -1) {
                        $('.changeWebAddress iframe').attr('src', newAddress);
                    } else {
                        $('.changeWebAddress iframe').attr('src', "https://youtube.com/embed/" + newAddress.substring(newAddress.lastIndexOf('=') +1) + "?rel=0&amp;controls=0&amp;showinfo=0");
                    }
		
			if(newAddress.indexOf('iframe') != -1){
				$('.changeWebAddress iframe').attr('src', $(newAddress).attr('src'));
				alert($(newAddress).attr('src'));
			}
                }
            });
            // End add Webview

            // Add Link Transparent
            $('#linkTransparent-btn').click(function () {
                if (CurrentTab == "") {
                    $('#items').append('<span class="draggable linkTransparent ui-widget-content" style="border:1px solid rgb(140, 93, 93);"></span>');
                    // Draggable
                } else {
                    $('#items').append('<span class="draggable linkTransparent ui-widget-content tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + ' style="border:1px solid rgb(140, 93, 93)"></span>');
                    // Draggable
                }
                $(".draggable").draggable().resizable();
            });
            // End Add Link Transparent

            // Add product
            $('#product-btn').click(function () {
                if (CurrentTab == "") {
                    gridster.add_widget('<div class="new products addNew"></div>', 1, 1);
                } else {
                    gridster.add_widget('<div class="new products addNew tab-content content-' + CurrentTab + '" data-parent=' + CurrentTab + '></div>', 1, 1);
                }
                $('.addNew').css('min-height', '50px').removeClass('addNew');

                $.ajax({
                    url: '/api/Product',
                    data: { UserCode: '@ViewBag.UserCode' },
                    async: false,
                    type: 'get',
                    success: function (data) {
                        $('.products .product-item').remove();
                        $.each(data, function (k,v) {
                            $('.products').append('<div class="product-item">'+ v.Name +'</div>');
                        });
                    }
                });
            });

            $('.product-item').click(function () {
                var PageList = '<div id="overlay"></div>';
                PageList += '<div id="boxPageList"><button style="float:left;outline:none;padding:3px;background:red; color:#fff;margin-left:5px;" onclick="outlink()">Liên kết ngoài</button><h3>Danh sách trang</h3><span class="close">x</span></div>';
                $('body').append(PageList);
                $('#overlay,#boxPageList').fadeIn();
            });
            // End add product

            // SET SCHEDULE

            $(document).on('mouseenter', '.gs-w, .draggable', function () {
                if (!$(this).is('.tab, .tab-content')) {
                    $(this).append('<span class="calendar fa fa-clock-o fa-2" title="Đặt lịch chạy"></span>');
                }

                $('.calendar').click(function () {
                    $('.gs-w, .draggable').removeClass('changeschedule');
                    $(this).parent().addClass('changeschedule');
                    var PageList = '<div id="overlay"></div>';
                    PageList += '<div id="boxPageList"><p class="mtop10"><form id="formSchedule"><label for="startDate">StartDate:</label> <input type="date" class="startDate" required><input type="time" class="startTime" required></p><p class="mtop10"><label for="startDate">EndDate:</label> <input type="date" class="endDate" required><input type="time" class="endTime" required></p><p class="list-action"><input type="submit" value="Add to Schedule" id="addToSchedule" class="mtop10 action-btn"></p></form><p><button id="clearSchedule" class="action-btn">Clear Schedule</button></p><table id="list-schedule"><tr><th>StartDate</th><th>EndDate</th><th>#</th></tr></table><span class="close">x</span></div>';
                    $('body').append(PageList);
                    $('#overlay,#boxPageList').fadeIn();

                    // show list schedule
                    if ($('#schedule').length) {
                        loadScheduleToTable();
                    }

                    function loadScheduleToTable() {
                        var ListSchedule = JSON.parse($('#schedule').text());
                        $('#list-schedule tr:gt(0)').remove();
                        $(ListSchedule).each(function (k, v) {
                            var startDate = v.startDate.split('-');
                            startDate = startDate[2] + '/' + startDate[1] + '/' + startDate[0] + ' ' + startDate[3] + ':' + startDate[4];
                            var endDate = v.endDate.split('-');
                            endDate = endDate[2] + '/' + endDate[1] + '/' + endDate[0] + ' ' + endDate[3] + ':' + endDate[4];
                            var tr = '<tr data-startDate="' + v.startDate + '" data-endDate="'+ v.endDate +'"><td>' + startDate + '</td><td>' + endDate + '</td><td><i class="fa fa-trash-o mright10" data-id="' + k + '"></i><i class="fa fa-pencil-square-o mright10" data-id="' + k + '"></i></td></tr>'
                            $('#list-schedule').append(tr);
                            $('#list-schedule tr:eq(1)').addClass('active');
                            // Preview Schedule
                            $('#list-schedule tr:gt(0)').click(function () {
                                    $('#list-schedule tr').removeClass('active');
                                    $(this).addClass('active');
                                    var startDate = $(this).attr('data-startDate').split('-');
                                    var d = new Date();
                                    var day = startDate[2];
                                    var month = startDate[1];
                                    var year = startDate[0];
                                    var hour = startDate[3];
                                    var minutes = startDate[4];

                                    runSchedule(day, month, year, hour, minutes, true);
                            });
                            // End Preview Schedule
                        });
                    }
                    // end show list schedule

                    // Clear schedule
                    $('#clearSchedule').click(function () {
                        $('#schedule').remove();
                        $('#list-schedule tr:gt(0)').remove();
                    });
                    // End Clear Schedule

                    $('.startDate, .endDate').change(function () {
                        if (!$('#formSchedule').hasClass('actionUpdate')) {
                            var d = new Date($(this).val());
                            if ($(this).hasClass('startDate')) {
                                $('.changeschedule').attr('data-startdate', d.getFullYear() + '-' + parseInt(d.getMonth() + 1) + '-' + d.getDate());
                            } else {
                                $('.changeschedule').attr('data-enddate', d.getFullYear() + '-' + parseInt(d.getMonth() + 1) + '-' + d.getDate());
                            }
                        }
                    });

                    $('.startTime, .endTime').change(function () {
                        if (!$('#formSchedule').hasClass('actionUpdate')) {
                            var hour = $(this).val().split(':')[0];
                            var minute = $(this).val().split(':')[1];
                            if ($(this).hasClass('startTime')) {
                                $('.changeschedule').attr('data-starttime', hour + '-' + minute);
                            } else {
                                $('.changeschedule').attr('data-endtime', hour + '-' + minute);
                            }
                        }
                    });

                    $('#formSchedule').submit(function () {
                        // Add schedule item
                        if(!$('#formSchedule').hasClass('actionUpdate')){
                            $('.changeschedule').addClass('schedule');
                            if (!$('#schedule').length) {
                                $('#items').append('<i id="schedule" style="display:none"></i>');
                            }

                            var schedule = $('.changeschedule').clone();
                            var startDate = $('.changeschedule').attr('data-startdate') + '-'+ $('.changeschedule').attr('data-starttime');
                            var endDate = $('.changeschedule').attr('data-enddate') + '-' + $('.changeschedule').attr('data-endtime');
                            var col = $('.changeschedule').attr('data-col');
                            var row = $('.changeschedule').attr('data-row');
                            var sizex = $('.changeschedule').attr('data-sizex');
                            var sizey = $('.changeschedule').attr('data-sizey');
                            var content = '"' + $(schedule).wrap('<div>').parent().html().replace(/["]/g, "'") + '"';

                            if ((col === undefined)) {
                                col = row = sizex = sizey = 1;
                            }

                            var jsonData = '[{"startDate":"' + startDate + '","endDate":"' + endDate + '","col":' + col + ',"row":' + row + ',"sizex":' + sizex + ',"sizey":' + sizey + ',"content":' + content +'}]';

                            if ($('#schedule').text() == "") {
                                $('#schedule').text(jsonData);
                            } else {
                                var currentJson = $('#schedule').text().substring(0, $('#schedule').text().lastIndexOf(']'));
                                var jsonData = ',{"startDate":"' + startDate + '","endDate":"' + endDate + '","col":' + col + ',"row":' + row + ',"sizex":' + sizex + ',"sizey":' + sizey + ',"content":' + content + '}]';
                                currentJson = currentJson + jsonData;
                                $('#schedule').text(currentJson);
                            }
                        }// update schedule item
                        else {
                            $(this).removeClass('actionUpdate');

                            var OldSchedule = JSON.parse($('#schedule').text());
                            var keyEdit = $('#addToSchedule').attr('data-id');
                            var oldItemStartDate = OldSchedule[keyEdit].startDate.split('-');
                            var oldItemEndDate = OldSchedule[keyEdit].endDate.split('-');

                            for (var i = 0; i < 2; i++) {
                                var d = new Date($('.startDate').val());
                                var t = $('.startTime').val();

                                if (i == 1) {
                                    d = new Date($('.endDate').val());
                                    t = $('.endTime').val();
                                }
                                var year = d.getFullYear();
                                var month = parseInt(d.getMonth() + 1);
                                var day = d.getDate();
                                var hour = t.split(':')[0];
                                var minute = t.split(':')[1];

                                if (i == 0){
                                    OldSchedule[keyEdit].startDate = year + '-' + month + '-' + day + '-' + hour + '-' + minute
                                    OldSchedule[keyEdit].content = OldSchedule[keyEdit].content.replace("data-startdate='" + oldItemStartDate[0] + '-' + oldItemStartDate[1] + '-' + oldItemStartDate[2] + "'", "data-startdate='" + year + '-' + month + '-' + day + "'");
                                    OldSchedule[keyEdit].content = OldSchedule[keyEdit].content.replace("data-starttime='" + oldItemStartDate[3] + '-' + oldItemStartDate[4] + "'", "data-starttime='" + hour + '-' + minute + "'");
                                } else {
                                    OldSchedule[keyEdit].endDate = year + '-' + month + '-' + day + '-' + hour + '-' + minute;
                                    OldSchedule[keyEdit].content = OldSchedule[keyEdit].content.replace("data-enddate='" + oldItemEndDate[0] + '-' + oldItemEndDate[1] + '-' + oldItemEndDate[2] + "'", "data-enddate='" + year + '-' + month + '-' + day + "'");
                                    OldSchedule[keyEdit].content = OldSchedule[keyEdit].content.replace("data-endtime='" + oldItemEndDate[3] + '-' + oldItemEndDate[4] + "'", "data-endtime='" + hour + '-' + minute + "'");
                                }

                                var Schedule = "[";
                                $(OldSchedule).each(function (k, v) {
                                    if (k == 0) {
                                        Schedule += '{"startDate":"' + v.startDate + '", "endDate":"' + v.endDate + '", "col":' + v.col + ',"row":' + v.row + ',"sizex":' + v.sizex + ',"sizey": ' + v.sizey + ',"content":"' + v.content + '"}';
                                    } else {
                                        Schedule += ',{"startDate":"' + v.startDate + '", "endDate":"' + v.endDate + '", "col":' + v.col + ',"row":' + v.row + ',"sizex":' + v.sizex + ',"sizey": ' + v.sizey + ',"content":"' + v.content + '"}';
                                    }
                                });

                                Schedule += ']';
                                $('#schedule').text(Schedule);
                                loadScheduleToTable();

                            }
                        }

                        $('[type="date"],[type="time"]').val(null);
                        loadScheduleToTable();
                        return false;
                    });

                    // delete schedule item
                    $(document).on('click','#list-schedule .fa-trash-o',function(){
                        var OldSchedule = JSON.parse($('#schedule').text());
                        OldSchedule.splice($(this).data('id'), 1);
                        var Schedule = "[";
                        $(OldSchedule).each(function (k, v) {
                            if (k == 0) {
                                Schedule += '{"startDate":"' + v.startDate +'", "endDate":"' + v.endDate + '", "col":' + v.col + ',"row":' + v.row + ',"sizex":' + v.sizex + ',"sizey": ' + v.sizey + ',"content":"' + v.content + '"}';
                            } else {
                                Schedule += ',{"startDate":"' + v.startDate + '", "endDate":"' + v.endDate + '", "col":' + v.col + ',"row":' + v.row + ',"sizex":' + v.sizex + ',"sizey": ' + v.sizey + ',"content":"' + v.content + '"}';
                            }
                        });

                        Schedule += ']';
                        $('#schedule').text(Schedule);
                        
                        loadScheduleToTable();
                        if ($('#list-schedule tr').length == 1) {
                            $('#schedule').remove();
                        }
                    });
                    // end delete schedule item

                    // edit schedule item
                    $(document).on('click', '#list-schedule .fa-pencil-square-o', function () {
                        var startDate = $(this).parent().parent().attr('data-startDate').split('-');
                        var endDate = $(this).parent().parent().attr('data-endDate').split('-');
                        var d = new Date();
                        var day = startDate[2];
                        var month = startDate[1];
                        var year = startDate[0];
                        var hour = startDate[3];
                        var minutes = startDate[4];

                        if (month.length == 1) {
                            month = "0" + month;
                        } else if (day.length == 1) {
                            day = "0" + day;
                        }

                        $('.startDate').val(year + '-' + month + '-' + day);
                        $('.startTime').val(hour + ':' + minutes);

                        var d1 = new Date();
                        var day1 = endDate[2];
                        var month1 = endDate[1];
                        var year1 = endDate[0];
                        var hour1 = endDate[3];
                        var minutes1 = endDate[4];

                        if (month1.length == 1) {
                            month1 = "0" + month1;
                        } else if (day1.length == 1) {
                            day1 = "0" + day1;
                        }

                        $('.endDate').val(year1 + '-' + month1 + '-' + day1);
                        $('.endTime').val(hour1 + ':' + minutes1);

                        if (!$('#update-btn').length) {
                            $('#addToSchedule').attr('data-id', $(this).attr('data-id')).hide();
                            $('.list-action').append('<input type="submit" value="Update" id="update-btn" class="action-btn"><input type="button" value="Cancel" id="cancel-btn" class="action-btn">')
                        } else {
                            $('#addToSchedule').attr('data-id', $(this).attr('data-id'));
                        }
                    });

                    $(document).on('click', '#update-btn', function () {
                        $('#formSchedule').addClass('actionUpdate');
                        $('#addToSchedule').trigger('click');
                        $('#addToSchedule').show();
                        $('#update-btn, #cancel-btn').remove();
                    });

                    $(document).on('click', '#cancel-btn', function () {
                        $('[type="date"],[type="time"]').val(null);
                        $('#addToSchedule').show();
                        $('#update-btn, #cancel-btn').remove();
                    });
                    // end edit schedule item


                });

            }).on('mouseleave', '.gs-w, .draggable', function () {
                $('.calendar').remove();
            });

            if (window.location.href.toLowerCase().indexOf('setup') == -1 && $('#schedule').length) {
                var d = new Date();
                var day = d.getDate();
                var month = parseInt(d.getMonth() + 1);
                var year = d.getFullYear();
                var hour = d.getHours();
                var minutes = d.getMinutes();

                runSchedule(day, month, year, hour, minutes,false);
            }

            function runSchedule(day, month, year, hour, minutes, test) {
                var run = setInterval(function () {
                    if (test == false) {
                        d = new Date();
                        day = d.getDate();
                        month = parseInt(d.getMonth() + 1);
                        year = d.getFullYear();
                        hour = d.getHours();
                        minutes = d.getMinutes();
                    }

                    var currentDate = new Date(year, month, day, hour, minutes);

                    $('.schedule').each(function (k,v) {
                        var arrStartDate = ($(this).attr('data-startdate') + '-' + $(this).attr('data-starttime')).split('-');
                        var startDate = new Date(arrStartDate[0], arrStartDate[1], arrStartDate[2], arrStartDate[3], arrStartDate[4]);
                        var arrEndDate = ($(this).attr('data-enddate') + '-' + $(this).attr('data-endtime')).split('-');
                        var endDate = new Date(arrEndDate[0], arrEndDate[1], arrEndDate[2], arrEndDate[3], arrEndDate[4]);
                        if (currentDate >= startDate && currentDate < endDate) {
                            $(this).show();
                        }
                        else {
                            if (this.nodeName.toLowerCase() != "span") {
                                gridster.remove_widget($('.schedule:eq(0)'), function () {
                                    if (!$('.schedule').length) {
                                        loadScheduleFromJson();
                                    }
                                });
                            } else {
                                $('.schedule:eq(0)').remove();
                            }
                        }
                    });

                    function loadScheduleFromJson() {
                        var syncSchedule = JSON.parse($('#schedule').text());
                        $(syncSchedule).each(function (k, v) {
                            var arrStartDate = v.startDate.split('-');
                            var startDate = new Date(arrStartDate[0], arrStartDate[1], arrStartDate[2], arrStartDate[3], arrStartDate[4]);
                            var arrEndDate = v.endDate.split('-');
                            var endDate = new Date(arrEndDate[0], arrEndDate[1], arrEndDate[2], arrEndDate[3], arrEndDate[4]);
                            if (currentDate >= startDate && currentDate < endDate) {
                                //if (test == true) {
                                //    v.content = v.content.replace("BrowseServer('images:/','XImagePath')", '');
                                //    var executeAddItem = "gridster.add_widget(" + '"' + v.content + '"' + ",  " + v.sizex + ", " + v.sizey + ", " + v.col + ", " + v.row + ");";
                                //    eval(executeAddItem);

                                //    $('.img').attr('ondblclick', "BrowseServer('images:/','XImagePath')");
                                //}
                                //else {
                                if (v.content.substring(0, 5) != "<span") {
                                    if (!$('[data-col=' + v.col + '][data-row=' + v.row + ']').length || !$('[data-col=' + v.col + '][data-row=' + v.row + ']').hasClass('schedule')) {
                                        v.content = v.content.replace("BrowseServer('images:/','XImagePath')", '');
                                        var executeAddItem = "gridster.add_widget(" + '"' + v.content + '"' + ",  " + v.sizex + ", " + v.sizey + ", " + v.col + ", " + v.row + ");";
                                        eval(executeAddItem);
                                        $('.img').attr('ondblclick', "BrowseServer('images:/','XImagePath')");
                                    }
                                } else {
                                    $('#items').append(v.content);
                                }
                                //}
                                // run slideshow fullscreen
                                if (window.location.href.toLowerCase().indexOf('setup') == -1 && $('.bxslider li').length) {
                                    $('.bxslider li:eq(0)').addClass('active-slide');
                                    //clearInterval(run);
                                    runSlideshowFullscreen();
                                }
                                // end run slideshow fullscreen
                            }
                        });
                    }

                    if (!$('.schedule').length) {
                        loadScheduleFromJson();
                    }

                    runSlideShow();
                    
                    if (test == true) {
                        clearInterval(run);
                    }
                }, 100);
            }

            // END SET SCHEDULE

            // CHANGE TEMPLATE (VERTICAL || HORIZONTAL)
            $(document).on('click','.template', function () {
                if($('.gridster').hasClass('vertical')){
                    $(this).attr('data-template','horizontal');
                    $('.gridster').removeClass('vertical').addClass('horizontal');
                    localStorage.setItem('template', 'horizontal');
                } else {
                    $(this).attr('data-template', 'vertical');
                    $('.gridster').removeClass('horizontal').addClass('vertical');
                    localStorage.setItem('template', 'vertical');
                }

                $.when(document.getElementById('save').click()).then(
                    location.reload()
                );
            });
            // END CHANGE TEMPLATE (VERTICAL || HORIZONTAL)

            // ZOOM LAYOUT
            var zoom = 1;
            if (localStorage.getItem('zoom') != null) {
                zoom = parseFloat(localStorage.getItem('zoom'));
            }

            $('.zoomIn').click(function () {
                $('.template').appendTo('body');
                zoom += 0.1;
                localStorage.setItem('zoom', zoom);
                $('.gridster').animate({ zoom: zoom });
            });
            $('.zoomOut').click(function () {
                $('.template').appendTo('body');
                zoom -= 0.1;
                localStorage.setItem('zoom', zoom);
                $('.gridster').animate({ zoom: zoom });
            });

            $('.template').appendTo('body');
            $('.gridster').css({ zoom: localStorage.getItem('zoom') });
            // END ZOOM LAYOUT

            // Draggable
            $(".draggable").draggable().resizable();

            var SlideToTouch = false;

            function runSlideShow() {
                $('.slideshow').slidesjs({
                    navigation: true,
                    pagination: {
                        effect: "fade",
                        active: true
                    },
                    effect: {
                        fade: {
                            speed: 400
                        }
                    },
                    play: {
                        active: true,
                        auto: true,
                        swap: true,
                        pauseOnHover: true
                    },
                    callback: {
                        complete: function(number) {
                            if (SlideToTouch) {
                                ConvertSlideToTouch();
                            }
                        }
                    },
                    pagination: true,
                    generatePagination: true
                });
            }

            $(document).on('click', '.slideshow', function () {
                $('.slideshow').each(function (k, v) {
                    //if (k < $('.slideshow').length) {
                    //    document.getElementsByClassName('slidesjs-stop')[k].click();
                    //}

                    SlideToTouch = true;

                    ConvertSlideToTouch();
                });
            });

            function ConvertSlideToTouch() {
                for (var i = 1; i < 5; i++) {
                    window.clearInterval(i);
                }

                var highestTimeoutId = setTimeout(";");
                for (var i = 0 ; i < highestTimeoutId ; i++) {
                    clearTimeout(i);
                }
            }

            runSlideShow();

            @Html.Partial("_RunSlideshowFullscreen");

            $('.tab').each(function () {
                this.style.setProperty('background-size', 'cover', 'important');
            });

            if ($('.bxslider').length == 0) {
                if ($('.tab').length) {
                    var vid = document.getElementById("video-active");
                    vid.play();
                    document.getElementById('video-active').addEventListener('ended', restartVideoId, false);
                } else {
                    $('video').each(function (k, v) {
                        document.getElementsByTagName('video')[k].play();
                        document.getElementsByTagName('video')[k].addEventListener('ended', restartVideo, false);
                    })
                }
            } 
        });

        function restartVideo(e) {
            document.getElementsByTagName('video')[0].currentTime = 0; //setting to zero breaks iOS 3.2, the value won't update, values smaller than 0.1 was causing bug as well.
            document.getElementsByTagName('video')[0].play();
        }

        function restartVideoId(e) {
            document.getElementById('video-active').currentTime = 0; //setting to zero breaks iOS 3.2, the value won't update, values smaller than 0.1 was causing bug as well.
            document.getElementById('video-active').play();
        }

        function linkPage(page) {
            if (window.location.href.indexOf('@ViewBag.domain') == -1) {
                if (page.indexOf('http') == -1) {
                    window.location.href = window.location.pathname.toString().substring(0, window.location.pathname.toString().lastIndexOf('/')) + '/' + page;
                } else {
                    window.location.href = page;
                }
            } else {
                if (window.location.href.indexOf('setup') == -1) {
                    if (page.indexOf('http') == -1) {
                        if (page.indexOf('Files') == -1) {
                            window.location.href = "Files/@User.Identity.Name/" + page;
                        } else {
                            window.location.href = page;
                        }
                    } else {
                        window.location.href = page;
                    }
                }
            }
        }

        function outlink() {
            var link = prompt("Vui lòng nhập link liên kết");
            if (link != null) {
                $('.linkTo').attr('onclick', 'linkPage("' + link + '")');
            }
        }

        function PopupDetail(content) {
            var PageList = '<div id="overlay"></div>';
            PageList += '<div id="boxPageList"><div id="contentPopup"></div><span class="close">x</span></div>';
            $('body').append(PageList);
            $('#contentPopup').html(content);
            $('#overlay,#boxPageList').fadeIn();
        }
    </script>

    @if (Convert.ToBoolean(ViewBag.isPartner))
    {
        @Html.Partial("_Partner")
    }
    
    @if (User.Identity.Name == "admin" || !Convert.ToBoolean(ViewBag.isPartner))
    {
        try
        {
            var a = Request.Cookies["partnerId"].Value;
            @Html.Partial("_PartnerProcess")
        }
        catch
        {
            
        }
    }
    
    <style id="onlyDesign">
        i.duration {
            position: absolute;
            bottom: 0;
            right: 0;
            background: #000;
            width: 40px;
            height: 45px;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
        }
        .duration-control {
            position: absolute;
            bottom: 45px;
            left: 50%;
            width: 140px;
            margin-left: -70px;
        }

        .bxslider li {
            display:none;
        }

        .bxslider li:last-child {
            display:block;
        }
    </style>
</body>
</html>